# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3


# Ignore local environment settings
.env
*.env

# Local development
.vscode/
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace


# Ignore virtual environments
venv/
env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore macOS specific files
*.DS_Store

# Ignore coverage reports
htmlcov/
.coverage
*.cover
*.coverage.*

# Ignore testing and CI files
.tox/
.pytest_cache/
.nox/

# Ignore build files
build/
dist/
*.egg-info/
.eggs/

# Ignore logs and temp files
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.rej

# Ignore pycache and cache files
__pycache__/
.cache/
local_cache/
*.pyo

# Ignore other editor or OS specific files
Thumbs.db
ehthumbs.db
