<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'tasker/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'tasker/css/mediaStyle.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600;700&family=Vollkorn:ital,wght@0,504;1,504&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'tasker/images/favicon.ico' %}" type="image/x-icon">
    <title>Test Page</title>
    
    
</head>
<body>
    <header>
        <a href="{% url 'tasker:register' %}">
            <button class="left_side_button">Войти</button>
        </a>
        <h4 class="header_title">*Статус входа в аккаунт*</h4>
    </header>
    <div class="dateRow">
        <h4 class="centeredElement">Текущая дата и время: {{ current_time|date:"d.m.Y H:i" }}</h4>
        {% load static %}
        <button class="emptyButton"> <img class="button_icon" src="{% static 'tasker/images/calendar.svg' %}" alt="Calendar"></button>
    </div>
    <div class="tableContainer">
        <table class="eventsTable">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Срок сдачи</th>
                    <th>Приоритет</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                {% for task in task_list %}
                    <tr onclick="window.location.href='{% url 'tasker:view_task' task.task_id %}'">
                        <td>{{ task.task_name }}</td>
                        <td>{{ task.deadline_time|date:"d.m.Y H:i" }}</td>
                        <td>{{ task.priority }}</td>
                        <td>{{ task.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="'{% url 'tasker:creating_task' %}'"><button onclick="window.location.href=" class="addEvent">Добавить событие</button></a>
    </div>

</body>
</html>
