<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'tasker/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'tasker/css/mediaStyle.css' %}">
    <title>Test Page</title>
    
    
</head>
<body>
    <header>
        <button class="left_side_button">Войти</button>
        <h4 class="header_title">*Статус входа в аккаунт*</h4>
    </header>
    <div class="dateRow">
        <h4 class="centeredElement">Текущая дата и время: {{ current_time|date:"d.m.Y H:i" }}</h4>
        {% load static %}
        <button class="emptyButton"> <img class="button_icon" src="{% static 'tasker/images/calendar.svg' %}" alt="Calendar"></button>
    </div>
    <div class="tableContainer">
        <table class="eventsTable">
            <thead>
                <th>Название</th>
                <th>Срок сдачи</th>
                <th>Приоритет</th>
                <th>Описание</th>
            </thead>
            <tbody>
                {% for task in task_list %}
                    <tr onclick="window.location.href='{% url 'tasker:view_task' task.task_id %}'">
                        <td>{{ task.task_name }}</td>
                        <td>{{ task.deadline_time|date:"d.m.Y H:i" }}</td>
                        <td>{{ task.priority }}</td>
                        <td>{{ task.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="addEvent">Добавить событие</button>
</body>
</html>
